:root {
  --color-primary: #00d7b9;
  --color-secondary: #191a1b;
  --color-light: #fff;
  --color-muted: #eee;
  --color-font: #444;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
  color: var(--color-font);
  background-color: var(--color-muted);
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
a {
  text-decoration: none;
}
strong {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
svg {
  fill: currentColor;
}
code {
  font-family: Consolas, "Courier New", monospace;
}
.title--right {
  text-align: left;
  line-height: 0.9;
  font-size: 2em;
  border-bottom: 2px solid var(--color-primary);
}
.title--left {
  text-align: right;
  line-height: 0.9;
  font-size: 2em;
  border-bottom: 2px solid var(--color-primary);
}
.link {
  color: inherit;
  border-bottom: 0px solid transparent;
  transition: .5s;
}
.link::after {
  background: transparent url("../img/link.svg") 0 0 no-repeat;
  background-size: .8em;
  content: "";
  display: inline-block;
  height: .8em;
  margin-left: 3px;
  width: .8em;
}
.link:hover {
  border-bottom: 1px solid var(--color-primary);
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 80px;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: inherit;
}
.header__title {
  font-size: 3em;
}
.header__menu {
  width: 50%;
  height: 100%;
}
.menu__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-inline-start: 0;
}
.menu__item {
  list-style: none;
  transition: 0.5s;
}
.menu__item:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.menu__link {
  display: block;
  height: 100%;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
}
.main {
  position: relative;
  top: 80px;
  margin: 0 auto;
}
.about {
  height: 800px;
  background-color: var(--color-light);
}
.about__container {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  max-width: 50%;
}
.about__title {
  position: relative;
  top: -100px;
  right: 70%;
}
.about__text {
  font-size: 1.5em;
  line-height: 1.5;
}
.about__photo {
  position: relative;
  width: 40%;
  height: 80%;
  padding: 75px 0;
}
.about__photo::before {
  position: absolute;
  left: 20%;
  top: 0;
  display: inline-block;
  content: '';
  width: 120%;
  height: 100%;
  background-color: var(--color-secondary);
}
img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.skills {
  height: 800px;
  padding-top: 100px;
}
.skills__title {
  margin-left: 65%;
  margin-bottom: 60px;
}
.skills__container {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.skills__container::before {
  position: absolute;
  left: -20%;
  top: 0;
  width: 120%;
  height: 100%;
  content: '';
  background-color: var(--color-secondary);
}
.skills__list {
  position: relative;
  left: 65%;
  width: 35%;
  height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
}
.skill__item,
.skill__logo {
  transition: .3s;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.skill__item {
  padding-left: 10px;
  list-style-type: none;
  color: var(--color-muted);
}
.skill__item:hover {
  border-left: 5px solid var(--color-primary);
  transition: .3s;
}
.skill__logo {
  position: absolute;
  width: 90px;
  color: var(--color-font);
}
.skill__logo--css {
  top: 30%;
  left: -145%;
}
.skill__logo--html {
  top: 55%;
  left: -65%;
}
.skill__logo--js {
  top: 45%;
  left: -106%;
}
.skill__logo--fig {
  top: 10%;
  left: -37%;
}
.skill__logo--git {
  top: 15%;
  left: -83%;
}
.skill__logo--gh {
  top: 60%;
  left: -177%;
}
.skill__logo--node {
  top: 65%;
  left: -28%;
}
.skill__logo--expr {
  top: 5%;
  left: -186%;
  font-family: "Work Sans", sans-serif;
  font-size: 72px;
}
.skill__logo--sql {
  top: 70%;
  left: -135%;
  font-size: 60px;
}
.skill__item--html:hover,
.skill__item--html:hover .skill__logo,
.skill__item--js:hover,
.skill__item--js:hover .skill__logo,
.skill__item--fig:hover,
.skill__item--fig:hover .skill__logo,
.skill__item--git:hover,
.skill__item--git:hover .skill__logo,
.skill__item--node:hover,
.skill__item--node:hover .skill__logo,
.skill__item--sql:hover,
.skill__item--sql:hover .skill__logo {color: var(--color-primary)}

.code__container {
  min-height: 800px;
  padding-top: 100px;
  background-color: var(--color-light);
}
.code__title {
  position: relative;
  right: 70%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.code__caption {
  padding: 5px 10px;
  color: var(--color-muted);
}
.code__content {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
  font-size: 1em;
  background-color: var(--color-secondary);
}
.experience__container {
  min-height: 600px;
  margin-bottom: 200px;
  padding-top: 100px;
}

.experience__title {
  margin-left: 65%;
  margin-bottom: 60px;
}
.experience__content {
  padding-left: 10%;
}
.experience__itemlist {
  counter-reset: li;
}
.experience__item {
  margin-bottom: 20px;
  padding-left: 1em;
  list-style-type: none;
  font-size: 1.5em;
  color: var(--color-muted);
  background-color: var(--color-secondary);
}
.experience__item::before {
  position: absolute;
  left: calc(10% + 1em);
  display: block;
  counter-increment: li;
  content: counter(li);
  font-size: 2em;
  color: var(--color-primary);
}
.experience__spoiler {
  padding: 20px;
}
.experience__spoiler summary:focus {
  outline: unset;
}
.experience__subitemlist {
  margin-top: 15px;
}
.experience__subitem {
  margin-left: 30px;
  margin-bottom: 10px;
  list-style-type: square;
}
.contacts__container {
  height: 400px;
  padding-top: 100px;
  background-color: var(--color-secondary);
}
.contacts__title {
  position: relative;
  right: 70%;
  color: var(--color-muted);
}
.contacts__content {
  padding: 100px 10%;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: var(--color-muted);
  font-size: 1.5em;
}
.contacts__item {
  padding: 10px 20px;
}
.contact__link {
  color: inherit;
  margin-right: 10px;
  transition: .5s;
}
.contact__link:hover {
  color: var(--color-primary);
}
.contact__icon {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  font-size: 40px;
}